
<%- include('../partials/supAdmin_sidebar')%>

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Delete  Adminnnnnnn</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Delete  Admin</li>
							</ol>
						</nav>
					</div>

				</div>
			</div>



		
			<div class="pd-20 card-box mb-30">

				<div class="clearfix">
					<h4 class="text-blue h4">Add  Admin </h4>

				</div>


				<form  method="POST" enctype="multipart/form-data">
					
					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" name="name" value="<%=name%>" readonly>
					</div>
					<!-- <div class="form-group">
						<label>Username</label>
						<input class="form-control" type="text" placeholder="" id="unamecreate" name="username">
						<div id="alert">

						</div>
					</div> -->
					<div class="form-group">
						<label>Mobile</label>
						<input class="form-control" type="number" name="mobile" value="<%=mobile%>" readonly>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input class="form-control" placeholder="bootstrap@example.com" type="email" name="email" value="<%=email%>" readonly>
					</div>
					<div class="form-group">
						<label>Gender</label>
						<select class="form-control" name="gender" aria-valuetext="<%=gender%>" readonly>
							<option disabled >Choose..</option>
							<option value="Male" >Male</option>
							<option value="Female">Female</option>
							<option value="Others">Others</option>
						</select>
					</div>
					<div class="form-group">
						<label>Address</label>
						<input class="form-control" name="address" value="<%=address%>" readonly>
					</div>
					<!-- <div class="form-group">
						<label>Image</label>
						<div class="custom-file">
							<input type="file" class="custom-file-input" name="image">
							<label class="custom-file-label">Choose file</label>
						</div>
					</div> -->
					<div class="col-md-12 col-sm-12 mb-30">

						<div class="pd-20 card-box height-100-p">
							<div class="btn-list" style="float: right;">
								<!-- <button type="button" class="btn btn-outline-dark">Reset</button> -->
								<button type="submit" class="btn btn-outline-danger">Delete</button>
					

							</div>
						</div>
					</div>
				</form>



			</div>



		</div>
	</div>
</div>