
	<form method="post">
		<fieldset>
			<legend>Delete Product</legend>
			<table>
				<tr>
					<td>Product Code: </td>
					<td><%=productCode%></td>
				</tr>
				<tr>
					<td>Product Name: </td>
					<td><%=productName%></td>
				</tr>
				<tr>
					<td>Product Vendor: </td>
					<td><%=productVendor%></td>
				</tr>
				<tr>
					<td>Quantity In Stock: </td>
					<td><%=quantityInStock%></td>
				</tr>
				<tr>
					<td>Buy Price: </td>
					<td><%=buyPrice%></td>
				</tr>
				<tr>
					<td>Sell Price: </td>
					<td><%=sellPrice%></td>
				</tr>
				<tr>
					<td>Product Description: </td>
					<td><%=productDescription%></td>
				</tr>
			<!-- 	<tr>
					<td>Product Image: </td>
					<td><%=productImage%></td>
				</tr> -->
				
			</table>
			<div>
				<h3>Are you sure?</h3>
				<input type="submit" name="submit" value="Confirm">
			</div>
		</fieldset>
	</form>
