<div class="main-container">
	<form method="post">
		<fieldset>
			<legend>Edit Product</legend>
			<table>
				<tr>
					<td>Product Code</td>
					<td><input type="text" name="productCode" value="<%=productCode%>"></td>
				</tr>
				<tr>
					<td>Product Name</td>
					<td><input type="text" name="productName" value="<%=productName%>"></td>
				</tr>
				<tr>
					<td>Product Vendor</td>
					<td><input type="text" name="productVendor" value="<%=productVendor%>"></td>
				</tr>
				<tr>
					<td>Quantity In Stock</td>
					<td><input type="number" name="quantityInStock" value="<%=quantityInStock%>"></td>
				</tr>
				<tr>
					<td>Buy Price</td>
					<td><input type="text" name="buyPrice" value="<%=buyPrice%>"></td>
				</tr>
				<tr>
					<td>Sell Price</td>
					<td><input type="text" name="sellPrice" value="<%=sellPrice%>"></td>
				</tr>
				<tr>
					<td>Product Description</td>
					<td><input type="text" name="productDescription" value="<%=productDescription%>"></td>
				</tr>
				<!-- <tr>
					<td>Product Image</td>
					<td><input type="text" name="productImage" value="<%=productImage%>"></td>
				</tr> -->

				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Update"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>