<div class="container px-0">
    <h4 class="mb-30 mt-30 text-blue h4">Get Started</h4>
    <div class="row">
        <div class="col-md-4 mb-30">
            <div class="card-box pricing-card-style2">
                <div class="pricing-card-header">
                    <div class="left">
                        <h5><%= featurelist.id1 %></h5>
                        <p>For small businesses</p>
                    </div>
                    <div class="right">
                        <div class="pricing-price">
                            €100<span>/month</span>
                        </div>
                    </div>
                </div>
                <div class="pricing-card-body">
                    <div class="pricing-points">
                        <ul>
                            <li><%= featurelist.s1 %></li>
                            <li><%= featurelist.s2 %></li>
                            <li><%= featurelist.s3 %></li>
                            <li><%= featurelist.s4 %></li>
                            <li><%= featurelist.s5 %></li>
                            <li><%= featurelist.s6 %></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="cta">
                    <a href="#" class="btn btn-primary btn-rounded btn-lg">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-30">
            <div class="card-box pricing-card-style2">
                <div class="pricing-card-header">
                    <div class="left">
                        <h5><%= featurelist.id2 %></h5>
                        <p>For big businesses</p>
                    </div>
                    <div class="right">
                        <div class="pricing-price">
                            €150<span>/month</span>
                        </div>
                    </div>
                </div>
                <div class="pricing-card-body">
                    <div class="pricing-points">
                        <ul>
                            <li><%= featurelist.a1 %></li>
                            <li><%= featurelist.a2 %></li>
                            <li><%= featurelist.a3 %></li>
                            <li><%= featurelist.a4 %></li>
                            <li><%= featurelist.a5 %></li>
                            <li><%= featurelist.a6 %></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="cta">
                    <a href="#" class="btn btn-primary btn-rounded btn-lg">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-30">
            <div class="card-box pricing-card-style2">
                <div class="pricing-card-header">
                    <div class="left">
                        <h5><%= featurelist.id3 %></h5>
                        <p>For enterprises</p>
                    </div>
                    <div class="right">
                        <div class="pricing-price">
                            €250<span>/month</span>
                        </div>
                    </div>
                </div>
                <div class="pricing-card-body">
                    <div class="pricing-points">
                        <ul>
                            <li><%= featurelist.e1 %></li>
                            <li><%= featurelist.e2 %></li>
                            <li><%= featurelist.e3 %></li>
                            <li><%= featurelist.e4 %></li>
                            <li><%= featurelist.e5 %></li>
                            <li><%= featurelist.e6 %></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="cta">
                    <a href="#" class="btn btn-primary btn-rounded btn-lg">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-box">
        <div class="pd-20 bg-white border-radius-4 box-shadow mb-30">
            <form action="" method="POST">
                <div class="form-group">
                    <label>Package</label>
                    <select class="form-control" name="type" id="subscription_type">
                        <option disabled selected>Choose..</option>
                        <option value="Standard">Standard</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Enterprise">Enterprise</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label>Company Name</label>
                    <input class="form-control" type="text" name="cname">
                </div>
                <div class="form-group">
                    <label>Company Email</label>
                    <input class="form-control" placeholder="bootstrap@example.com" type="email" name="cemail">
                </div>
                <div class="form-group">
                    <label>Contact No.</label>
                    <input class="form-control" type="number" name="cmobile">
                </div>
                <div class="form-group">
                    <label>Total Employee</label>
                    <input class="form-control" type="number" name="cemployee">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" name="caddress"></textarea>
                </div>
                <div class="form-group">
                    <label>Manager Name</label>
                    <input class="form-control" type="text" name="cmname">
                </div>
                <div class="form-group">
                    <label>N.B:After submit, You have to complete your payment to get access of further registration</label>
                   
                </div>
                <div class="col-md-12 col-sm-12 mb-30">

                    <div class="pd-20 card-box height-100-p"></div>
                        <div class="btn-list" style="float: right;">
                           
                            <button type="submit" class="btn btn-outline-success">Submit</button>


                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

