<%- include('../partials/preloader.ejs')%>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<%- include('../partials/supAdmin_sidebar')%>


<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Subscriber List</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Subscriber List</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>








            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">Data Table Simple</h4>
                    <div class="pull-right">
                        <a href="/supAdmin_home/meeting/create">
                            <button type="button" class="btn btn-primary"><i class="icon-copy fa fa-calendar-plus-o" aria-hidden="true"></i></button>
                        </a>
                     </div>
                </div>
               
                <div class="pb-20">

                    
                    <table class="table hover data-table  nowrap ">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">ID</th>
                                <th>Title</th>
                                <th>Concerned TO</th>
                                <th>Date</th>
                                
                               
								<th class="datatable-nosort">Action</th>
								<th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i< userlist.length; i++ ){ %>
                            <tr>
                                <td class="table-plus"><%= userlist[i].id %></td>
                                <td><%= userlist[i].title %></td>
                                <td><%= userlist[i].concerned_to %></td>
                                <td><%= userlist[i].date %></td>
                               
                                
                                <td>

                                
                                        <div class="dropdown">
                                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                <i class="dw dw-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                <a class="dropdown-item" href="/supAdmin_home/meeting/edit/<%=userlist[i].id%>"><i class="dw dw-edit2"></i> Edit</a>
                                                <a class="dropdown-item" href="/supAdmin_home/meeting/delete/<%=userlist[i].id%>"><i class="dw dw-delete-3"></i> Delete</a>
                                               
                                            </div>
                                        </div>
                                    
								</td>
								<td><%= userlist[i].details %></td>
                            </tr>
                            <% } %>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>