<%- include('../partials/preloader.ejs')%>
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/sidebar_right.ejs')%>
<%- include('../partials/supAdmin_sidebar')%>

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="title">
							<h4>pricing Table</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">pricing Table</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>


			<div class="pull-right">
				<a href="/supAdmin_home/package/edit">
					<button type="button" class="btn btn-primary">Edit Package</button>
				</a>
			</div>
			<h4 class="mb-30 mt-30 text-blue h4">Pricing Table Style </h4>

			

			<div class="row">
				<div class="col-md-4 mb-30">
					<div class="card-box pricing-card-style2">
						<div class="pricing-card-header">
							<div class="left">
								<h5>Standard</h5>
								<p>For small businesses</p>
							</div>
							<div class="right">
								<div class="pricing-price">
									€100<span>/month</span>
								</div>
							</div>
						</div>
						<div class="pricing-card-body">
							<div class="pricing-points">
								<ul>
									<li><%= featurelist.s1 %></li>
									<li><%= featurelist.s2 %></li>
									<li><%= featurelist.s3 %></li>
									<li><%= featurelist.s4 %></li>
									<li><%= featurelist.s5 %></li>
									<li><%= featurelist.s6 %></li>

								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-md-4 mb-30">
					<div class="card-box pricing-card-style2">
						<div class="pricing-card-header">
							<div class="left">
								<h5>Advance</h5>
								<p>For big businesses</p>
							</div>
							<div class="right">
								<div class="pricing-price">
									€150<span>/month</span>
								</div>
							</div>
						</div>
						<div class="pricing-card-body">
							<div class="pricing-points">
								<ul>
									<li><%= featurelist.a1 %></li>
									<li><%= featurelist.a2 %></li>
									<li><%= featurelist.a3 %></li>
									<li><%= featurelist.a4 %></li>
									<li><%= featurelist.a5 %></li>
									<li><%= featurelist.a6 %></li>

								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-md-4 mb-30">
					<div class="card-box pricing-card-style2">
						<div class="pricing-card-header">
							<div class="left">
								<h5>Enterprise</h5>
								<p>For enterprises</p>
							</div>
							<div class="right">
								<div class="pricing-price">
									€250<span>/month</span>
								</div>
							</div>
						</div>
						<div class="pricing-card-body">
							<div class="pricing-points">
								<ul>
									<li><%= featurelist.e1 %></li>
									<li><%= featurelist.e2 %></li>
									<li><%= featurelist.e3 %></li>
									<li><%= featurelist.e4 %></li>
									<li><%= featurelist.e5 %></li>
									<li><%= featurelist.e6 %></li>

								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
</div>