
	<form method="post">
		<fieldset>
			<legend>Delete Customer</legend>
			<table>
				<tr>
					<td>Customer Name  :</td>
					<td><%=customerName%></td>
				</tr>
				<tr>
					<td>Contact Number :</td>
					<td><%=customerContactNumber%></td>
				</tr>
				<tr>
					<td>Address :</td>
					<td><%=customerAddress%></td>
				</tr>
				<tr>
					<td>Email :</td>
					<td><%=customerEmail%></td>
				</tr>
				<tr>
					<td>Status :</td>
					<td><%=customerStatus%></td>
				</tr>
				<tr>
					<td>Gender :</td>
					<td><%=customerGender%></td>
				</tr>
			</table>
			<div>
				<h3>Are you sure?</h3>
				<input class="btn btn-denger" type="submit" name="submit" value="Confirm">
			</div>
		</fieldset>
	</form>
