<div class="main-container">
	<form method="post">
		<fieldset>
			<legend>Edit Customer</legend>
			<table>
				<tr>
					<td>Customer Name</td>
					<td><input type="text" name="customerName" value="<%=customerName%>"></td>
				</tr>
				<tr>
					<td>Contact Number</td>
					<td><input type="text" name="customerContactNumber" value="<%=customerContactNumber%>"></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" name="customerAddress" value="<%=customerAddress%>"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" name="customerEmail" value="<%=customerEmail%>"></td>
				</tr>
				<tr>
					<td>Status</td>
					<td><input type="text" name="customerStatus" value="<%=customerStatus%>"></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><input type="text" name="customerGender" value="<%=customerGender%>"></td>
				</tr>
				
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Update"></td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>