	<%- include('../partial/marketheader.ejs')%>
	<%- include('../partial/marketsidebars.ejs')%>
	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<!--testing-->
				<div class="card-box mb-30">                                                                                      
				  <div class="pd-20">    
				  <div class="table-title pl-20">
                    <div class="row">
                        <div class="col-sm-1.5 pl-20"><a class="btn btn-primary" href="/markethome/csv/<%='customer'%>" role="button">To CSV</a></div>
                        <div class="col-sm-6 pl-20"><a class="btn btn-primary" href="#" role="button">To PDF</a></div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                <input type="text" id="myInput" placeholder="Search&hellip;">
                            </div>
                        </div>
                    </div>
                 </div>    
				  <div class="pd-20">
				  	<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>id</th>
				        <th>Fullname</th>
				        <th>email</th>
				        <th>phone</th>
				        <th>gender</th>
				        <th>status</th>
				      </tr>
				    </thead>
				    <tbody id="myTable">
				    	<% for(var i=0; i< userlist.length; i++ ){ %>
							<tr>
								<td><%= userlist[i].id %></td>
								<td><%= userlist[i].customerName %></td>
								<td><%= userlist[i].customerEmail %></td>
								<td><%= userlist[i].customerContactNumber %></td>  
								<td><%= userlist[i].customerGender %></td>
								<td><span class="badge badge-danger"><%= userlist[i].customerStatus %></span></td>
								<td><a class="btn btn-primary" href="/clients/profile/<%='customer'%>/<%=userlist[i].id%>">Profile</a></td>  
								<td><a class="btn btn-primary" href="/clients/delete/<%=userlist[i].id%>/<%='customer'%>">Delete</a></td>
							</tr>
						<% } %>
				    </tbody>
				  </table>
				  </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	  $("#myInput").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#myTable tr").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	</script>
	