
<%- include('../partials/navbar.ejs')%>
<%- include('../partials/salesAccounting.ejs')%>

<div class="main-container">
    <h2 align=center>Bank Information</h2>
    <br>
    <div>
		<select class="form-control mr-sm-2" id="searchBy">
			<option selected hidden>Search By</option>
			<option value="accountName">Account Name</option>
			<option value="accountNumber">Account Number</option>
			<option value="bankName">Bank Name</option>
		</select>
        <input class="form-control mr-sm-2" type="text" name="search" id="search" placeholder="Search Bank Info" aria-label="Search Bank Info">
	</div>
	<script type="text/javascript">
		
		$(document).ready(function(){
		$('#search').on('keyup',function(){
			var search = $("#search").val();
			var searchBy = $("#searchBy").val();

			$.ajax({
				url: '/bankInfo/search',
				method: 'post',
				datatype : 'json',
				data : {'search':search,
						'searchBy':searchBy},
				success:function(response){
					if(response.bankInfo !== 'error'){
						var tableBody="<tr><td>#</td><td>Account Name</td><td>Account Number</td><td>Bank Name</td><td>Action</td></tr>";
						response.bankInfo.forEach(element => {
							var tableRow="";
							tableRow+="<td>"+element.id+"</td>";
							tableRow+="<td>"+element.accountName+"</td>";
							tableRow+="<td>"+element.accountNumber+"</td>";
							tableRow+="<td>"+element.bankName+"</td>";
							tableRow+="<td><a href='../accountingSellsHome/bankInfo/edit/"+element.id+"'>Edit</a></td>";
							tableBody=tableBody+"<tr>"+tableRow+"</tr>";
						});
						$('#table').html(tableBody);
					}else{
                            condole.log("Error!");
					}
				},
				error:function(response){
					alert('server error');
				}
			});
        });
    });
    </script>
    <div class="card-box mb-30">
		<div class="pb-20">
        <table class="table hover multiple-select-row data-table-export nowrap" id="table">
            <tr>
                <th>#</td>
                <th>Account Name</td>
                <th>Account Number</td>
                <th>Bank Name</td>
                <th>Action</th>
            </tr>

            <% for(var i=0; i< bankInfo.length; i++ ){ %>
            <tr>
                <td><%= bankInfo[i].id %></td>
                <td><%= bankInfo[i].accountName %></td>
                <td><%= bankInfo[i].accountNumber %></td>
                <td><%= bankInfo[i].bankName %></td>
                <td>
                    <a href="../accountingSellsHome/bankInfo/edit/<%=bankInfo[i].id%>">Edit</a>
                </td>
            </tr>
            <% } %>
        </table>
        </div>	
    </div>				
</div>